@import 'common';

.alert{
    height: 40px;
    width: 100%;
    background-color: #a0a0a0;
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: center;
    opacity: 0.8;
    line-height: 43px;
    font-size: 0.5em;
    color: #fff;
    z-index: 3000;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    .alert-close{
        float: right;
        font-size: 16px;
        margin: 12px 12px 0 0;
        color: #fff;
        cursor: pointer;
        transition: 0.5s ease all;
        &:hover{
            @include rotate(180deg);
        }
    }
}
.alert.failure{
    background-color: $alertFailure;
}
.alert.tip{
    background-color: $alertTip;
}
.alert.success{
    background-color: $alertSuccess;
}
.alert.normal{
    background-color: $alertNormal;
}
