@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentModal\.scss}line{font-family:\000033}}
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentModal\.scss}line{font-family:\0000310}}
.modal {
  display: none;
  position: fixed;
  padding: 15px;
  width: 400px;
  height: 300px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  *zoom: 1;
  z-index: 2000;
  background-image: -ms-linear-gradient(to top left, #c32361, #ea4c89);
  background-image: -moz-linear-gradient(to top left, #c32361, #ea4c89);
  background-image: -webkit-linear-gradient(to top left, #c32361, #ea4c89);
  background-image: -o-linear-gradient(to top left, #c32361, #ea4c89);
  background-image: linear-gradient(to top left, #c32361, #ea4c89);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentModal\.scss}line{font-family:\0000324}}
.modal.show {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentModal\.scss}line{font-family:\0000326}}
.modal.show ~ .main-container {
  -webkit-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -o-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentModal\.scss}line{font-family:\0000331}}
.modal .modal-content {
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentModal\.scss}line{font-family:\0000334}}
.modal .modal-close {
  font-size: 1.2em;
  cursor: pointer;
  float: right;
  color: #ffffff;
  margin: 0 -7px 0 0;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentModal\.scss}line{font-family:\0000341}}
.modal .modal-close:hover {
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
