#navbar{
    z-index: 1000;
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0px;
    margin: 0;
}
.user-profile{
    &.item.hide{
        display: none;
    }
}
.sign-up{
    &.item.hide{
        display: none;
    }
}
.sign-in{
    &.item.hide{
        display: none;
    }
}
