@charset "UTF-8";
@font-face {
  font-family: snigletRegular;
  src: url(../fonts/Sniglet-Regular.ttf);
}

@font-face {
  font-family: test2;
  src: url(../fonts/test2.ttf);
}

@font-face {
  font-family: test1;
  src: url(../fonts/test1.ttf);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/main\.scss}line{font-family:\0000316}}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: snigletRegular, Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Heiti, "黑体", SimSun, "宋体", sans-serif;
  background-color: aliceblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/main\.scss}line{font-family:\0000323}}
.container {
  padding: 80px 40px 40px;
}
