.container{
    &.myfont{
        .font_name{
            display: inline-block;
            width: 150px;
        }
        .font_author{
            float:right;
        }
        .example-label{
            padding: 0 0.8em;
            line-height: 16px;
        }
        .generate-content{
            margin: 40px 0 10px;
            text-align: center;
            .generate-code-btn{
                cursor: pointer;
            }
        }
        #code-editor{
            height: 300px;
        }
        .step5-content{
            text-align: center;
            .ui.one.items{
                margin: 0;
                .item{
                    margin: 0;
                }
            }
        }
    }
}
