.font-repository{
    .ui.label.purchased-label{
        padding: 0.8em 1.5em;
        margin: 0;
        line-height: 1;
        font-size: 1rem;
        text-align: center;
    }
    .ui.button{
        &.out-of-chart-btn{
            font-weight: normal;
        }
        &.in-chart-btn{
            font-weight: normal;
        }
    }
}
