@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleIndex\.scss}line{font-family:\000033}}
.container.index {
  padding: 40px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleIndex\.scss}line{font-family:\000036}}
#welcome-banner {
  height: 270px;
  width: 100%;
  padding-top: 130px;
  background: white url("../images/banner2.jpg") no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleIndex\.scss}line{font-family:\0000312}}
h1.banner-title {
  margin: 0;
  font-size: 120px;
  text-align: center;
  color: aliceblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleIndex\.scss}line{font-family:\0000318}}
h5.banner-subtitle {
  margin: 30px 0 0;
  font-size: 20px;
  text-align: center;
  color: aliceblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleIndex\.scss}line{font-family:\0000327}}
.ui.menu .cart.item {
  padding: 0.5em 0.95em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleIndex\.scss}line{font-family:\0000329}}
.ui.menu .cart.item label {
  cursor: pointer;
}
