@import 'common';

.cart-item-title{
    .price{
        float: right;
        .cart-trash-btn{
            cursor: pointer;
            color: $alertFailure;
        }
    }
}

.pay-content{
    margin-top: 100px;
    text-align: center;
    .pay-btn{
        cursor: pointer;
    }
}
